*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(71, 67, 67);
}

main{
    background-color: rgb(29, 28, 28);
    box-shadow: 0px 4px 10px rgba(29, 26, 26, 0.514);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid rgb(253, 202, 39);
    border-radius: 3%;
    overflow: hidden;
    width: 550px;
    max-height: 730px;
}

header{
    background-color: rgb(235, 225, 88);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: rgba(8, 8, 8, 0.712);
}

.btnGreen {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 700;
    padding: 5px 20px;
    background-color: rgb(253, 202, 39);
    outline: none;
    border: 1px solid black;
    border-radius: 4px;
}

.btnGreen:hover {
    background-color: rgba(33, 255, 33, 0.952);
    box-shadow: 0px 3px ;
    cursor: pointer;
}

.btnGreen:active {
    background-color: rgba(255, 255, 255, 0.103);
    box-shadow: 0px 3px ;   
    transform: translateY(4px); 
}
.displayWrapper{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pickImg {
    font-size: 6rem;
    height: 170px;
    width: 170px;
    margin: 10px;
    background-color: rgba(107, 119, 112, 0.336);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pickTitle {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.versus {
    font-size: 2rem;
    align-self: center;
}

.scoreBoard {
    font-size: 3rem;
    color: rgb(238, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 40px;
}

.statusGame, .roundTracker {
    align-self: center;
    color: rgba(255, 255, 255, 0.808);
    font-family: 'Courier New', Courier, monospace;
}

.gameRound {

    display: flex;
    flex-direction: column;
    align-self: center;
    display: none;
}

.gameRoundSelec {
    font-size: 40px;
    padding: 10px; 
    margin-bottom: 10px;
    text-align: center;
    width: 80px;
    align-self: center;
}

.gameRoundSelec::-webkit-outer-spin-button,
.gameRoundSelec::-webkit-inner-spin-button {
    display: none;
}



.statusGame{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

.selecBar{
    background-color: rgb(59, 59, 59);
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

.iconGame{
    background-color: rgba(111, 143, 51, 0.767);
    border: outset;
    border-radius: 10px;
    font-size: 5rem;
    display: none;
}
.iconGame:hover{
    box-shadow: 0px 6px ;
    cursor: pointer;
}
.iconGame:active{
    background-color: rgba(255, 255, 255, 0.103);
    box-shadow: 0px 3px ;
    transform: translateY(4px); 
}